img{
    height: 50rem;
}


body{
    background-color: rgb(63, 63, 63);
    color: aliceblue;
}

#feher{
    color: black;
}
.kep{
    height: 500px;
    width: 750px;
}
.kep2{
    height: 500px;
    width: 600px;
}
.kep3{
    height: 400px;
    
}
.tart{
    padding-top: 25px;
}